@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  margin: 0px;
  padding: 0px;
 /* border: 1px solid red; */
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100vh;
  color: #121619;
}

.container,
.game,
.game-main,
.weapon {
  display: flex;
  flex-direction: column;
}

.title,
.game {
  text-align: center;
}

.weapon-selector {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  gap: 100px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  min-height: 225px;
  min-width: 225px;
  border: none;
  border-radius: 20px;
  background-color: #5386E4;
}

.btn:hover {
  background-color: #2B59C3;
}

.title {
  padding: 75px 0;
  background-color: #5386E4;
}

.text-box {
  height: 350px;
  background-color: #FED766;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text-content {
  margin: 0 10%;
}

.game-main {
  height: 400px;
  padding: 50px 30px;
  background-color: #283044;
  color: #5386E4;
}

.weapon-header {
  font-size: 30px;
  font-weight: bold;
}

.weapon {
  font-size: 24px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #5386E4;
  color: #121619;
  font-size: 20px;
}

.footer a{
  text-decoration: none;
  color: #121619;
}

.footer a:hover {
  color: #283044;
}